<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#" />
    <title>Фильтр по скилу</title>
</head>
<body>
    <h1>Отфильтрованные по скилу кандидаты</h1>
    <h4>всего найдено - "{{find_candidates}}" по скилу {{skill}}</h4>
    <h4>лимит вывода  на страницу - {{limit}}</h4>
    <h4>результаты с {{start_position}} по {{finish_position}}</h4>

    <form method="POST">
        <input type="text" name="limit_count">
        <input type="submit" value="Задать другой  лимит вывода">
    </form>

    <pre>
    {% for person in candidates %}
    Имя кандидата - {{ person['name'] }}
    Позиция кандидата - {{ person['position'] }}
    Навыки: {{ person['skills'] }}
    Пол - {{ person['gender'] }}
    Возраст - {{ person['age'] }}
    {% endfor %}
    </pre>
</body>
</html>
